
.page-content {
  margin-top: 5em;
}

.activator {
  cursor: pointer;
}

.collection-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}
